<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">
    <title>AryBot-AryCodes Chat Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/stylesmain.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>

<body>

    <style>
        #loading-bar {
            width: 20%;
            height: 4px;
            background-color: #007bff;
            /* Loading bar color */
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
            transition: width 0.3s ease;
        }
    </style>

    <div id="loading-bar"></div>

    <script>
        document.onreadystatechange = function () {
            if (document.readyState === "complete") {
                document.getElementById('loading-bar').style.width = '100%';
                setTimeout(function () {
                    document.getElementById('loading-bar').style.display = 'none';
                }, 300);
            }
        };

    </script>
    <header id="header">
        <h1 style="color: black;margin: 0;" id="logoname">Arybot</h1>
        <button id="install-button">Install App</button>
    </header>
    <div class="container">
        <div class="messagebox" id="messagebox">
            {% for entry in data %}
            <div class="message {% if entry[0] == 'You' %} user-message {% else %} bot-message {% endif %}">
                <strong>{{ entry[0] }}:</strong>
                <p class="messagecontent"> {{ entry[1] }}</p>
            </div>
            {% endfor %}
        </div>
        <p
            style="font-family: Arial, sans-serif; font-size: 16px; color: #333;margin: 0 auto;display: flex;width: 100%;justify-content: center;flex-wrap: wrap;padding: 3px 4px;">
            if response can't be seen in output , try : <a href="{{ url_for('reset') }}"
                style="color: #007bff; text-decoration: none;">Reset Chat</a>
        </p>
        <form class="input-form" id="inputForm" method="post">
            <input type="text" id="user_input" name="user_input" placeholder="Type your message...">
            <button type="submit">Send</button>
        </form>
    </div>




    <script src="{{ url_for('static', filename='scripts/marked.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>

</html>